.logo{
    width: 100px;
    height: 50px;
}
body{
    background: #cccccc;
}
.main{
    background: #ffffff;
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

.money{
    text-indent: 500px;

}
